<header class="header-grid_block">
    <div class="up-header_block">
        <div class="header-top" style="margin: 0px;">
            <div class="top-header-container">
                <div class="header-top-flex">
                    <div class="grafik">Працюємо щодня З 9:00 ПО 20:00,
                        <span class="region">по Київу та області</span>

                    </div>
                    <a href="tel://+38099 2294145" class="up-header-tel">+38099 2294145</a>
                </div>

            </div>
        </div>
    </div>

    <div class="header-main_block">

                <div class="header-main_item-1">
                    <div class="logo_container">
                        <!-- <a class="logo">
                            <img src="assets/img/logo.svg" alt="MNK MeTann-CHab">
                        </a> -->
                    </div>

                    <div class="social_container">
                        <div class="social-wrapper">
                            <a href="https://wa.me/380978880063" class="whatsapp_icon" rel="no"><img class="social_icons"
                                    src="./images/icons/icons8-whatsapp-48.svg" alt="whatsapp-icon">
                                <span>WhatsApp </span>
                            </a>
                            <a href="Viber:add?number=79252424035" class="viber_icon" rel="nofollow"><img class="social_icons"
                                    src="./images/icons/viber-48.svg" alt="viber-icon">
                                <span>Viber</span>
                            </a>

                            <a rel="nofollow" href="https://t.me/magnetto2" class="telegram_icon"><img class="social_icons"
                                    src="./images/icons/telegram-48.svg" alt="">
                                <span>Telegram</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="header-main_item-2">
                    <div class="header-address_container">
                        <i class="map-marker"></i>
                        <p>м.Ірпінь</p>
                        <p>вул Центральна 125 Б</p>
                        <a class="schema-proezda" href="kontakti.html">Всі доступні адреси дивіться тут!</a>
                    </div>
                </div>
                <div class="header-main_item-3">
                    <div class="uk-panel">
                        <ul class="phone">
                            <li>
                                <a class="tel-link" href="tel:+380978880063">+7 (499) 490 64 89
                                </a>
                            </li>
                        </ul>
                        <button href="#call" class="advice-button" id="zakaz-zvonka">Замовити дзвінок</button>
                    </div>
                    <div class="search-form_block">
                        <form class="search_form" action="rezultatyi-poiska.html" method="get">
                            <input type="text" class="search-field-form" name="search" id="search"
                                placeholder="nouck" value="">
                            <button type="submit" class="search-button" aria-labelledby="search"></button>
                        </form>
                    </div>
                </div>

        
    </div>

    <nav class="header-bottom_block menu-header">
        <!--Mobile button-->
        <a id="mobile-menu_button" class="button-mob-menu" href="#topmenu" >
            <span class="menu-button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </span>
        </a>
        <div class="uk-container-2 uk-container-center">
            <div class="uk-offcanvas">
                <div class="uk-offcanvas-bar">
                    <div class="uk-panel">
                        <ul id="topmenu" class="top-m-wrap">
                            <li class="first active"><a href="">Головна</a></li>

                            <li>
                                <a href="">Послуги</a>
                                <ul>
                                    <li class="first">Демонтаж металолому</li>
                                    <li>Порізка металолому</li>
                                    <li>Вивоз металолому</li>
                                    <li>Прийом алюмінія</li>
                                    <li>Прийом меді</li>
                                    <li>Прийом кольорових металів</li>
                                    <li>Прийом чорних металів</li>
                                    <li>Прийом акамуляторів</li>
                                    <li>Прийом кабелю</li>
                                    <!-- <li></li>
                                    <li></li> -->
                                </ul>
                            </li>
                            <li>
                                <a href="">Ціни</a>
                                <ul>
                                    <li class="first"><a href="">Кольоровий лом</a></li>
                                    <li class="last"><a href="">Чорний лом</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">Клієнтам</a>
                                <ul>
                                    <li class="first"><a href="">Акції</a></li>
                                    <li class="last"><a href="">Питання та відповіді</a></li>
                                </ul>
                            </li>
                            <li><a href="">Статті</a>
                                <ul>
                                    <li class="first"><a href=""></a></li>
                                    <li><a href="">Вивоз та демонтаж</a></li>
                                    <li><a href="">Про здачу металлолому</a></li>
                                    <li><a href="">Про здачу кабелю</a></li>
                                    <li><a href="">Алюміній</a></li>
                                    <li><a href="">Мідь</a></li>
                                    <li><a href="">Акамулятори</a></li>
                                    <li><a href="">Інші статті</a></li>
                                    <li class="last"><a href=""></a></li>
                                </ul>
                            </li>
                            <li><a href="">Контакти</a>
                            </li>
                            <li>
                                <a href="">Більше
                                    <ul>
                                        <li class="first"><a href="">Відгуки</a></li>
                                        <li class="last"><a href="">Партнери</a></li>
                                    </ul>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </nav>

</header>