<aside class="sidebar_desktop">
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <div class="uk-sticky-plceholder">
            <div class="uk-active">
                <div class="uk-panel block-sidebar">
                    <div class="h3"></div>
                    <table class="postSidebarTable">
                        <tbody>
                            <tr>
                                <td><a href=""></a></td>
                                <td><a href="">Чорний лом</a></td>
                            </tr>
                            <tr>
                                <td><a href=""></a></td>
                                <td><a href="">Свинець</a></td>
                            </tr>
                            <tr>
                                <td><a href=""></a></td>
                                <td><a href="">Мідь</a></td>
                            </tr>
                            <tr>
                                <td><a href=""></a></td>
                                <td><a href="">Нурнавійка</a></td>
                            </tr>
                            <tr>
                                <td><a href=""></a></td>
                                <td><a href="">Латунь</a></td>
                            </tr>
                            <tr>
                                <td><a href=""></a></td>
                                <td><a href="">Кабель</a></td>
                            </tr>
                            <tr>
                                <td><a href=""></a></td>
                                <td><a href="">Алюміній</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="uk-panel block-sidebar">
                    <div class="uk-width-1-1 uk-text-center">
                        <div class="h3">"Ціни на металолом"<br>
                            "за кг"</div>
                        <p class="price-date">на 24.04.2024</p>
                    </div>

                    <div class="uk-width-1-1">
                        <table class="priceMetall">
                            <tbody>
                                <tr>
                                    <td><a href="">Медь</a></td>
                                    <td> до </td>
                                </tr>
                                <tr>
                                    <td><a href="">Алюміній</a></td>
                                    <td> до </td>
                                </tr>
                                <tr>
                                    <td><a href="">Латунь</a></td>
                                    <td> до </td>
                                </tr>
                                <tr>
                                    <td><a href="">Бронза</a></td>
                                    <td> до </td>
                                </tr>
                                <tr>
                                    <td><a href="">Нурнавійка</a></td>
                                    <td> до </td>
                                </tr>
                                <tr>
                                    <td><a href="">Свинець</a></td>
                                    <td> до </td>
                                </tr>
                                <tr>
                                    <td><a href="">Чорний лом</a></td>
                                    <td> до </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="uk-width-1-1 uk-text-center"><a href="" class="zakaz-zvonka"></a></div>
                </div>

            </div>
        </div>
      </div>
      
      <div id="main">
        <div style="position: absolute; top: 10px; left: 10px;">
            <button class="openbtn" onclick="openNav()">☰</button>  
        </div>
      </div>
    </aside>